registry=https://registry.npmjs.org/
//ec2-34-207-171-157.compute-1.amazonaws.com/:_password=OVIwMmN4bEZ1VmpE
//ec2-34-207-171-157.compute-1.amazonaws.com/:username=admin
//ec2-34-207-171-157.compute-1.amazonaws.com/:email=j-obando@live.com
//ec2-34-207-171-157.compute-1.amazonaws.com/:always-auth=false
@flowfound:registry=http://ec2-34-207-171-157.compute-1.amazonaws.com/